<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ch.fhnw.mdt.launch.MCoreLaunchDelegate"
            delegateDescription="MicroCore Launcher supports launching and debugging"
            delegateName="MicroCore Application"
            id="ch.fhnw.mdt.launch.mcorelaunch"
            modes="run,debug"
            name="MCore Application"
            public="true"
            sourceLocatorId="ch.fhnw.mdt.forthdebugger.mdtSourceLocator"
            sourcePathComputerId="ch.fhnw.mdt.forthdebugger.mdtSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ch.fhnw.mdt.launch.tab.group.MCoreLaunchConfigurationTabGroup"
            id="ch.fhnw.mdt.launch.mcorelaunchtabgroup"
            type="ch.fhnw.mdt.launch.mcorelaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ch.fhnw.mdt.launch.mcorelaunch"
            icon="icons/mcorelaunchicon.png"
            id="ch.fhnw.mdt.launch.mcorelaunchimage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="ch.fhnw.mdt.launch.MCoreLaunchDelegate"
            description="Launches as uForth programm."
            icon="icons/mcorelaunchicon.png"
            id="ch.fhnw.mdt.launch.uforthlaunchshortcut"
            label="uForth Application"
            modes="run, debug">
         <description
               description="Runs the uForth programm."
               mode="run">
         </description>
         <configurationType
               id="ch.fhnw.mdt.launch.mcorelaunch">
         </configurationType>
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                   <or>
                     <instanceof value="org.eclipse.cdt.core.model.ICProject"/>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.cdt.launch.isCProject"/>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.ui.IEditorInput">
                     </instanceof>
                   </or>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
         <description
             mode="run"
             description="Run"/>
          <description
             mode="debug"
             description="Debug"/>
         <configurationType
               id="org.eclipse.cdt.launch.applicationLaunchType">
         </configurationType>
      </shortcut>
   </extension>

</plugin>
