<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ch.fhnw.mdt.launch.MCoreLaunchDelegate"
            delegateDescription="MicroCore Launcher supports launching and debugging"
            delegateName="MicroCore Application"
            id="ch.fhnw.mdt.launch.mcorelaunch"
            modes="run,debug"
            name="MCore Application"
            public="true"
            sourceLocatorId="ch.fhnw.mdt.forthdebugger.mdtSourceLocator"
            sourcePathComputerId="ch.fhnw.mdt.forthdebugger.mdtSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ch.fhnw.mdt.launch.tab.group.MCoreLaunchConfigurationTabGroup"
            id="ch.fhnw.mdt.launch.mcorelaunchtabgroup"
            type="ch.fhnw.mdt.launch.mcorelaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ch.fhnw.mdt.launch.mcorelaunch"
            icon="icons/mcorelaunchicon.png"
            id="ch.fhnw.mdt.launch.mcorelaunchimage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
