<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
  
    <projectType
          id="ch.fhnw.mdt.build.mcoreProjectType"
          isAbstract="false"
          name="MCore Executable">
       <configuration
             buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
             cleanCommand="rm -rf"
             errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser;org.eclipse.cdt.core.VCErrorParser"
             id="ch.fhnw.mdt.build.mcoreconfiguration"
             name="Release">
          <toolChain
                id="ch.fhnw.mdt.ui.mcoretoolchain"
                isAbstract="false"
                isToolChainSupported="ch.fhnw.mdt.build.IsMCoreToolChainSupported"
                name="MCore Toolchain"
                osList="linux"
                supportsManagedBuild="true"
                targetTool="ch.fhnw.mdt.ui.mcorecompiler">
             <targetPlatform
                   binaryParser="org.eclipse.cdt.core.ELF"
                   id="ch.fhnw.mdt.ui.mcoretargetplatform"
                   isAbstract="false"
                   name="MCore Target Platform"
                   osList="linux">
             </targetPlatform>
             <tool
                   command="lcc-mcore"
                   commandLinePattern="${COMMAND} ${FLAGS} ${INPUTS}"
                   customBuildStep="true"
                   errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser;org.eclipse.cdt.core.VCErrorParser"
                   id="ch.fhnw.mdt.ui.mcorecompiler"
                   isAbstract="false"
                   name="MCore Compiler"
                   natureFilter="cnature"
                   outputFlag="-o">
                <inputType
                      dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.internal.DefaultIndexerDependencyCalculator"
                      id="ch.fhnw.mdt.ui.mcorecompilerinput"
                      multipleOfType="true"
                      name="Compiler Input"
                      primaryInput="true"
                      sourceContentType="org.eclipse.cdt.core.cSource"
                      sources="c">
                </inputType>
                <outputType
                      id="ch.fhnw.mdt.ui.mcorecompileroutput"
                      multipleOfType="true"
                      name="Compiler Output"
                      namePattern="%.fs"
                      nameProvider="ch.fhnw.mdt.build.OutputNameProvider"
                      outputNames="${BuildArtifactFileBaseName}.fs"
                      outputs="fs"
                      primaryInputType="ch.fhnw.mdt.ui.mcorecompilerinput"
                      primaryOutput="false">
                </outputType>
                <optionCategory
                      id="ch.fhnw.mdt.build.generalcategory"
                      name="General"
                      owner="ch.fhnw.mdt.ui.mcorecompiler">
                </optionCategory>
                <option
                      category="ch.fhnw.mdt.build.generalcategory"
                      id="ch.fhnw.mdt.build.otherflagsoption"
                      isAbstract="false"
                      name="Other Flags"
                      resourceFilter="all"
                      value="-S -Q"
                      valueType="string">
                </option>
             </tool>
             <builder
                   id="ch.fhnw.mdt.ui.mcorebuilder"
                   isAbstract="false"
                   isVariableCaseSensitive="false"
                   name="MCore Builder"
                   superClass="org.eclipse.cdt.build.core.internal.builder">
             </builder>
             <tool
                   id="ch.fhnw.mdt.build.rename"
                   isAbstract="false"
                   name="Rename Output">
             </tool>
          </toolChain>
       </configuration>
    </projectType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateAssociations">
      <template
            id="ch.fhnw.mdt.build.mcoretemplate">
         <toolChain
               id="ch.fhnw.mdt.ui.mcoretoolchain">
         </toolChain>
      </template>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            filterPattern="ch.fhnw.mdt.build.mcoreconfiguration"
            id="ch.fhnw.mdt.build.mcoretemplate"
            location="template.xml"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
         <toolChain
               id="ch.fhnw.mdt.ui.mcoretoolchain">
         </toolChain>
      </template>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run
               class="ch.fhnw.mdt.build.MDTProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ch.fhnw.mdt.build.MDTNature">
         </run>
      </runtime>
   </extension>

</plugin>
