<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.fhnw.mdt.forthdebugger.ui.DataStackView"
            icon="icons/stack.png"
            id="ch.fhnw.mdt.forthdebugger.ui.datastackview"
            name="Data Stack"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="ch.fhnw.mdt.forthdebugger.ui.datastackview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.VariableView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="MDT Debugging"
            id="ch.fhnw.mdt.forthdebugger.ui.debugging"
            name="MDT Debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            autoClose="true"
            autoOpen="true"
            contextId="ch.fhnw.mdt.forthdebugger.ui.debugging"
            viewId="ch.fhnw.mdt.forthdebugger.ui.datastackview">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="ch.fhnw.mdt.forthdebugger.ui.ForthModelPresentation"
            id="ch.fhnw.mdt.forthdebugger.forthDebugModelPresentation">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="ch.fhnw.mdt.forthdebugger.ui.debugging"
            debugModelId="ch.fhnw.mdt.forthdebugger.forthDebugModelPresentation">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.memoryRenderings">
      <renderingBindings
            primaryId="ch.fhnw.mdt.forthdebugger.ui.forthmemoryrendering"
            renderingIds="org.eclipse.debug.ui.rendering.raw_memory, org.eclipse.debug.ui.rendering.hexint,ch.fhnw.mdt.forthdebugger.ui.forthmemoryrendering">
         <enablement>
            <instanceof
                  value="ch.fhnw.mdt.forthdebugger.debugmodel.ForthMemoryBlock">
            </instanceof></enablement>
      </renderingBindings>
      <renderingType
            class="ch.fhnw.mdt.forthdebugger.ui.memoryrendering.ForthMemoryRenderingTypeDelegate"
            id="ch.fhnw.mdt.forthdebugger.ui.forthmemoryrendering"
            name="Forth Memory Rendering">
      </renderingType>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="ch.fhnw.mdt.forthdebugger.debugmodel.ForthLineBreakpoint"
            id="ch.fhnw.mdt.forthdebugger.mdtBreakpoint"
            markerType="ch.fhnw.mdt.forthdebugger.mdtBreakpointMarker"
            name="MDT Line Breakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="ch.fhnw.mdt.forthdebugger.ui.breakpoints.ForthBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="ch.fhnw.mdt.forthdebugger.ui.commands.jump.JumpCommandHandler"
            description="Jumps over the current instruction."
            id="ch.fhnw.mdt.forthdebugger.ui.jumpcommand"
            name="Jump">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="ch.fhnw.mdt.forthdebugger.ui.commands.jump.JumpCommandHandler"
            description="Executes the remainder of the loop without interruption until after the next branch instruction"
            id="ch.fhnw.mdt.forthdebugger.ui.aftercommand"
            name="After">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ch.fhnw.mdt.forthdebugger.ui.debuggeractions"
            label="Debug Action Set"
            visible="false">
         <action
               class="ch.fhnw.mdt.forthdebugger.ui.commands.jump.JumpCommandActionDelegate"
               definitionId="ch.fhnw.mdt.forthdebugger.ui.jumpcommand"
               icon="icons/jump.png"
               id="ch.fhnw.mdt.forthdebugger.ui.jumpaction"
               label="Jump"
               menubarPath="org.eclipse.ui.run/emptyStepGroup"
               toolbarPath="org.eclipse.debug.ui.main.toolbar/renderGroup">
         </action>
         <action
               class="ch.fhnw.mdt.forthdebugger.ui.commands.after.AfterCommandActionDelegate"
               definitionId="ch.fhnw.mdt.forthdebugger.ui.aftercommand"
               icon="icons/after.png"
               id="ch.fhnw.mdt.forthdebugger.ui.afteraction"
               label="After"
               menubarPath="org.eclipse.ui.run/emptyStepGroup"
               toolbarPath="org.eclipse.debug.ui.main.toolbar/renderGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet
               id="ch.fhnw.mdt.forthdebugger.ui.debuggeractions">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="ch.fhnw.mdt.forthdebugger.debugmodel.extensions.IJumpExtension"
            class="ch.fhnw.mdt.forthdebugger.ui.adapters.ForthCommandAdapterFactory">
         <adapter
               type="ch.fhnw.mdt.forthdebugger.ui.commands.jump.IJumpHandler">
         </adapter>
         <adapter
               type="ch.fhnw.mdt.forthdebugger.ui.commands.jump.JumpCommand">
         </adapter>
      </factory>
      <factory
            adaptableType="ch.fhnw.mdt.forthdebugger.debugmodel.extensions.IAfterExtension"
            class="ch.fhnw.mdt.forthdebugger.ui.adapters.ForthCommandAdapterFactory">
         <adapter
               type="ch.fhnw.mdt.forthdebugger.ui.commands.after.IAfterHandler">
         </adapter>
         <adapter
               type="ch.fhnw.mdt.forthdebugger.ui.commands.after.AfterCommand">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.fhnw.mdt.forthdebugger.ui.jumpcommand"
            contextId="org.eclipse.debug.ui.debugging"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
      <key
            commandId="ch.fhnw.mdt.forthdebugger.ui.aftercommand"
            contextId="org.eclipse.debug.ui.debugging"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F10">
      </key>
   </extension>

</plugin>
