<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="cdt-8.5" sequenceNumber="10">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.5.0.201409172108"/>
<unit id="org.eclipse.cdt.feature.group" version="8.5.0.201409172108"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/8.5"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.1.M20140925-0400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
</locations>
</target>
