<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.cdt.core.language">
         
         <language
      class="org.eclipse.cdt.core.dom.ast.gnu.c.GCCLanguage"
      id="gcc"
      name="MCore C">
   <contentType id="org.eclipse.cdt.core.cSource"/>
   <contentType id="org.eclipse.cdt.core.cHeader"/>
</language>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.fhnw.mdt.ui.perferences.MCorePreferencePage"
            id="ch.fhnw.mdt.ui.mcorepreferencepage"
            name="MCore">
      </page>
   </extension>

</plugin>
