<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="ch.fhnw.mdt.forthdebugger.ui.MDTModelPresentation"
            id="ch.fhnw.mdt.forthdebugger.mdtDebugModelPresentation">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="ch.fhnw.mdt.forthdebugger.ui.MDTBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         id="mdtBreakpointMarker"
         name="MDT"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="ch.fhnw.mdt.forthdebugger.model.MDTLineBreakpoint"
            id="ch.fhnw.mdt.forthdebugger.mdtBreakpoint"
            markerType="ch.fhnw.mdt.forthdebugger.mdtBreakpointMarker"
            name="MDT Line Breakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="org.eclipse.cdt.debug.ui.debugging"
            debugModelId="ch.fhnw.mdt.forthdebugger.mdtDebugModelPresentation">
      </modelContextBinding>
   </extension>

</plugin>
