<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.debug.core.CDebugger">
      <debugger
            class="ch.fhnw.mdt.debugger.LCCDebugger"
            cpu="*"
            id="ch.fhnw.mdt.debugger.lccdebugger"
            modes="run,core,attach"
            name="LCC Console Debugger"
            platform="*">
      </debugger>
   </extension>

</plugin>
